@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

::-webkit-scrollbar {
  width: 1em;
  background-color: #fff;
  border: 1px slid black;
}

::-webkit-scrollbar-thumb {
  background-color: #3B71CA;
}

body {
    font-family: "Poppins", sans-serif;
}

.nav-link:hover {
  background-color: #3B71CA;
  color: white;
}

.nav-link.active:hover {
  color: white;
}

/* .label-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.color-box {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    margin-right: 10px;
} */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox
input[type=number] {
  -moz-appearance: textfield;
} */

.confirm-delete-card {
  display: none;
}

.img-preview {
  display: none;
}

.btn-denda {
  display: none;
}

.akun {
  cursor: pointer;
}

.profile-card {
  display: none;
  position: absolute;
  top: 100%; /* Mengatur posisi card di bawah h5 */
  left: 0;
  width: 130px;
  z-index: 10;
}

.akun:hover .profile-card {
  display: inline-block;
  margin-inline: auto;
}

img.img-thumbnail {
  width: 80px;
  height: 80px;
  object-fit: cover;
}
